.Banner{
    background:url(https://project-assetss.s3.ap-south-1.amazonaws.com/My-resume/BannerImageBG.webp), #000;
    background-repeat: no-repeat;
    background-size: contain , 100%;
    background-position: right bottom, center;
    height: 100vh;
}
.BannerSub h3{
    font-size: 30px;
    font-weight: 200;
    color: #bea35a;
    line-height: 28px;
}
.BannerSub h4{
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    line-height: 50px;
    margin-right: 10px;
}
.BannerSub h4 span{
    font-size: 90px;
    line-height: 80px;
}
.BannerSub{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
}
.BannerTextName{
    display: flex;
    align-items: flex-end;
}
.BannerSub h1{
    font-size: 90px;
    font-weight: 800;
    color: #f6e484;
    line-height: 80px;
}
.BannerSub h2{
    font-size: 160px;
    font-weight: 800;
    color: #fcc261;
    line-height: 130px;
    margin-left: -3px;
}
.BannerSub h5{
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
}






